
            body {
                background-color: rgb(179, 121, 233);
                font-family:'Roboto', sans-serif;
                font-size: 150%;
                padding-left: 25px;
            }
            h1,h2,h3,h4,h5{
                font-family: 'Calistoga', cursive;
    
            }
            h1{
                color:crimson
                font-family
                 h1,h2,h3,h4,h5{
                font-family: 'Calistoga', cursive;
    
            }
            }
            /* #first_paragraph{ 
                color: rgb(128, 3, 69);
            }
            p{
                color:firebrick
            }
            .introduction{              
                font-weight: bold;
            }
            .section-heading{
                text-decoration: underline;
            }
            
            .section-heading:hover{
                color:gold
            }
            a{
                color:green
             } 
            a:visited{color:lawngreen} */
